<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{model.org.name}} | Repositories
      </h1>

      <h2 class="subtitle">
       {{#if model.org.description}}
         {{model.org.description}} |
        {{/if}}
        <a class="org-link" href="{{model.org.html_url}}" rel="noreferrer noopener" target="_blank">
          {{model.org.html_url}}
        </a>
      </h2>
    </div>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Repo</th>
      <th>
        <a href="#" onclick={{action 'toggleSort' 'stargazers_count'}} class="toggle-stars">
          Stars
          {{#if (eq sortBy 'stargazers_count')}}
            {{#if sortAscending}}
              &#9650;
            {{else}}
              &#9660;
            {{/if}}
          {{/if}}
        </a>
      </th>
      <th>
        <a href="#" onclick={{action 'toggleSort' 'forks_count'}} class="toggle-forks">
          Forks
          {{#if (eq sortBy 'forks_count')}}
            {{#if sortAscending}}
              &#9650;
            {{else}}
              &#9660;
            {{/if}}
          {{/if}}
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedRepos as |repo|}}
      <tr class="repo-row">
        <td class="repo-name">
          {{#link-to 'org.repo' repo.name class="repo-link"}}
            {{~repo.name~}}
          {{/link-to}}
        </td>
        <td>{{repo.stargazers_count}}</td>
        <td>{{repo.forks_count}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
